*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buttonHeroes{
    background-color: aquamarine;
    padding: 10px;
    margin: 5px;
}
#hide{
    background-color: orange;
}

#search{
    padding: 10px;
    margin: 5px;
}